<%- include('partials/header') -%>


<div class="container mt-5 mb-5 p-3">
    <h1 class="display-4">Courses</h1>
    <p class="lead text-warning">
        Take time to learn something new or share what you know.
    </p>
    <hr />
    <p class="text-end">
        <% if(locals.user){%>
            <a href="/new/course">Create A Course <i class="fas fa-pen-fancy"></i></a>
        <%} else {%>
            <a href="/login">Sign In to Create A Course</a>
        <%}%>
    </p>

    <div class="row row-cols col-md-12 mx-auto d-flex py-3 me-2">
        <% for(var i = 0; i < courses.length; i++) { %>
            <div class="card m-3 p-5">
                <a href="/course/<%= courses[i]._id %>">
                    <img src="<%= courses[i].image %>" style="height: 300px;" class="img-fluid shadow-2-strong rounded" alt="<%= courses[i].title %>">
                </a>

                <p>
                    Created By <%= courses[i].email %>
                </p>
            </div>
        <% } %>
    </div>

</div>


<%- include('partials/footer') -%>
<%- include('partials/scripts') -%>
