<%- include('partials/header') -%>
<div style="background: url('<%= blogpost.image %>') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 40vh;
    padding-top: 180px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;"
>
</div>

<div class="container mt-5 p-3">
    <h1 class="display-4"><%= blogpost.title %></h1>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/blogs">Blogs</a></li>
            <li class="breadcrumb-item active" aria-current="page">Single Post</li>
        </ol>
    </nav>
    <hr />
    <p class="text-end">
        <% if(locals.user){%>
            <a href="/new/posts">Write A Post <i class="fas fa-pen-fancy"></i></a>
        <%} else {%>
            <a href="/login">Sign In to Write A Post</a>
        <%}%>
    </p>

    <div class="row row-cols col-md-12 mb-5 mx-auto d-flex py-3 me-2">
        <p class="lead"><%= blogpost.message %></p>
        <small>
            Created By <%= blogpost.email %>, On <%= blogpost.datePosted.toDateString() %>
        </small>
    </div>

</div>


<%- include('partials/footer') -%>
<%- include('partials/scripts') -%>
